In [25]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt

In [42]:
data = pd.read_csv('Admission_Predict.csv')
data.head(20)

    Written Exam  Presentation  Viva  Admission
0            4.5           4.5  9.65          1
1            4.0           4.5  8.87          1
2            3.0           3.5  8.00          1
3            3.5           2.5  8.67          1
4            2.0           3.0  8.21          1
5            4.5           3.0  9.34          1
6            3.0           4.0  8.20          1
7            3.0           4.0  7.90          1
8            2.0           1.5  8.00          0
9            3.5           3.0  8.60          0
10           3.5           4.0  8.40          0
11           4.0           4.5  9.00          1
12           4.0           4.5  9.10          1
13           4.0           3.0  8.00          1
14           3.5           2.0  8.20          1
15           3.5           2.5  8.30          1
16           4.0           3.0  8.70          0
17           4.0           3.0  8.00          1
18           4.0           3.0  8.80          1
19           3.5           3.0  8.50          1

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Written Exam  30 non-null     float64
 1   Presentation  30 non-null     float64
 2   Viva          30 non-null     float64
 3   Admission     30 non-null     int64
dtypes: float64(3), int64(1)
memory usage: 1.1 KB

In [18]:
X = data.drop("Admission", axis=1)
y = data["Admission"]

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

## Logistic Regressor

In [20]:
lr = LogisticRegression()
lr.fit(X_train , y_train)

LogisticRegression()

In [22]:
y_pred = lr.predict(X_test)
print(accuracy_score(y_pred,y_test))

0.6

## KNN

In [28]:
KNN = KNeighborsClassifier(
    n_neighbors=5 ,
    p=2,
)
KNN.fit(X_train , y_train)

KNeighborsClassifier()

In [29]:
y_pred2 = KNN.predict(X_test)
print(accuracy_score(y_pred2,y_test))

0.6

In [30]:
KNN2 = KNeighborsClassifier(
    n_neighbors=3 ,
    p=2,
)
KNN2.fit(X_train , y_train)

KNeighborsClassifier(n_neighbors=3)

In [31]:
y_pred3 = KNN2.predict(X_test)
print(accuracy_score(y_pred3,y_test))

0.6